/* Blog layout: Classic 
------------------------- */

@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

.posts_container.columns_wrap {
	display:flex;
	flex-wrap:wrap;
}
.posts_container.columns_wrap .post_layout_classic {
	display:inline-block;
	vertical-align:top;
	@include box(100%, 100%);
	@include border-box;
}

.post_layout_classic {
	position:relative;
}
.post_layout_classic .post_featured[class*="hover_"] {
	display: block;
}
.post_layout_classic .post_featured {
	margin-bottom: 1.5em;
}
.post_layout_classic .post_featured img {
	width: 100%;
}
.post_layout_classic .post_header {
	padding-top:0.02px;	  // Incapsulate margins inside the block without 'overflow: hidden'
}
.post_layout_classic .post_title {
	@include font(1.5em, 1.3em);
	margin: 0;
}
.post_layout_classic .post_title+.post_meta {
	margin-top:0.5em;
}
.post_layout_classic blockquote {
	margin:0 0 1.4em;
}
.post_layout_classic .post_header + .post_content {
	padding-top: 1em;
}
.post_layout_classic.format-aside .post_content_inner + .post_meta,
.post_layout_classic.format-link .post_content_inner + .post_meta,
.post_layout_classic.format-status .post_content_inner + .post_meta {
	margin-top:1em;
}
.post_layout_classic .slider_container .swiper-pagination-bullet, 
.post_layout_classic .slider_outer .swiper-pagination-bullet {
	width: 50px;
}
.post_layout_classic .slider_container.slider_pagination_pos_bottom .swiper-pagination-bullets, 
.post_layout_classic .slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullets, 
.post_layout_classic .slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullets {
    bottom: 1.66em;
}
.post_layout_classic blockquote {
	padding: 2em 2em 2em 2em;
}
.post_layout_classic blockquote,
.post_layout_classic blockquote p {
	font-size: rem(20px);
}
.post_layout_classic blockquote:before {
	font-size: 300px;
	right: 25px;
}
/* Format Audio */
.post_layout_classic.post_format_audio .post_featured.with_thumb img {
	width: 130px;
}
.post_layout_classic.post_format_audio .post_featured.with_thumb .mask {
	display: none;
}
.post_layout_classic.format-audio .post_featured.with_thumb {
	min-height: 150px;
}
.post_layout_classic.format-audio .post_featured .post_audio_img {
	width: 40%;
}
.post_layout_classic.post_format_audio .post_featured.with_thumb .post_audio {
	bottom: 1em;
    left: 45%;
    width: calc(100% - 50%);
    position: relative;
}
.post_layout_classic.post_format_audio .mejs-controls .mejs-button {
	height: 35px;
	width: 35px;
	margin-right: 10px;
}
.post_layout_classic.post_format_audio .mejs-controls .mejs-button.mejs-playpause-button > button {
	height: 35px;
    width: 35px;
}
.post_layout_classic.post_format_audio .post_featured.with_thumb .mejs-controls .mejs-volume-button.mejs-mute, 
.post_layout_classic.post_format_audio .post_featured.with_thumb .mejs-controls .mejs-volume-button.mejs-unmute {
	display: none;
}
.post_layout_classic.post_format_audio .post_featured.with_thumb .mejs-controls .mejs-horizontal-volume-slider {
	display: none;
}
.post_layout_classic.format-audio .post_featured .post_audio_author {
	font-size: 16px;
}
.post_layout_classic.format-audio .post_featured .post_audio_title {
	font-size: 18px;
    line-height: 1em;
}
.post_layout_classic .mejs-controls .mejs-time {
	font-size: 16px;
	padding-top: 7px;
}
.post_layout_classic .mejs-time-rail {
	padding-top: 4px;
}
.post_layout_classic.format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) {
	padding: 1.5em 2em;
}
.post_layout_classic .mejs-controls .mejs-volume-button.mejs-mute, 
.post_layout_classic .mejs-controls .mejs-volume-button.mejs-unmute {
	margin-left: 10px;
}
.post_layout_classic .mejs-controls .mejs-horizontal-volume-slider {
    width: 50px;
}
.post_layout_classic .mejs-controls .mejs-button.mejs-volume-button > button {
	height: 35px;
    width: 35px;
}
.post_layout_classic .mejs-controls .mejs-horizontal-volume-total {
	top: 16px;
}