/* Blog layout: Portfolio
------------------------- */

@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

.post_layout_portfolio .post_title {
	margin: 1em 0 0.4em;
}
.post_layout_portfolio .post_featured {
	margin-bottom:0;
}
.post_layout_portfolio .post_featured[class*="hover_"] {
	display: block;
}
.post_layout_portfolio .post_featured img {
	width: 100%;
}
.post_layout_portfolio .label_sticky {
	top: 0px;
	left: 0px;
	right:auto;
	position: absolute;
	z-index: 10;
}
.post_layout_portfolio.sticky {
	padding: 0;
}
.post_layout_portfolio.format-audio .post_featured.with_thumb {
	flex-direction: column;
}
.post_layout_portfolio.format-audio .post_featured.with_thumb .post_audio_img {
	position: relative;
	width: 100%;
	height: 150px;
}
.post_layout_portfolio.format-audio .post_featured.with_thumb .post_audio {
	padding: 1.5em;
    width: calc(100% - 3em);
}
.post_layout_portfolio.format-audio .post_featured .mask {
	display: none;
}
.post_layout_portfolio .mejs-controls .mejs-volume-button.mejs-mute, 
.post_layout_portfolio .mejs-controls .mejs-volume-button.mejs-unmute {
	display: none;
}
.post_layout_portfolio .mejs-controls a.mejs-horizontal-volume-slider {
	display: none;
}
.post_layout_portfolio.post_format_gallery .icons {
	display: none;
}
.post_layout_portfolio .slider_container .swiper-pagination-bullet, 
.post_layout_portfolio .slider_outer .swiper-pagination-bullet {
	width: 50px;
}